[Desktop Entry]
Name=Road To Riches Companion
Exec=roadtoriches
Icon=roadtoriches
Type=Application
Categories=Game;Utility;
Terminal=false
Comment=Elite Dangerous Exploration Tool